<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>

<body>
    <h1>Hiii How R u
        <%= user.firstName  %>
            <%= user.lastName  %>


                <form action="" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" name="username" value="bhaumik" id="Username">
                    <br>
                    <label for="username">E-mail:</label>
                    <input type="email" name="email" value="bj@gmail.com" id=" email ">
                    <br>
                    <label for="username ">password:</label>
                    <input type="password " name="password" value="12345" id="password ">
                    <br>
                    <label for="username ">Age:</label>
                    <input type="text" name="age" value="23" id="age">
                    <br>
                    <label for="username ">PhoneNo:</label>
                    <input type="tel" name="phoneNo" value="123456" id="phoneNo ">
                    <br>
                    <label for="username">Role:</label>
                    <input type="text " name="role" value="SE" id="role ">
                    <br>

                    <button type="submit" value="Submit">Submit</button>

                </form>
    </h1>
</body>

</html>